configuration {
	modes: [drun,run,filebrowser,ssh];
	terminal: "xfce4-terminal";
	ssh-command: "{terminal} -x {ssh-client} {host} [-p {port}]";
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}

@theme "rose-pine"

